// .page {
//   p {
//     img {
//       border: 1px solid #ececec;
//       padding: 15px;
//       border-radius: 5px;
//       width: 80%;
//     }
//   }
// }

.page {
    .theme-default-content:not(.custom), .page-nav{
        max-width : 1000px;
    }
}